{% extends 'EzBlogBundle::layout.html.twig' %}

{% block content %}
	<article>
		<h1>{{ post.title|html }}</h1>
		<h3>By: {{ link(post.author.fullName, path('view_user', {"user": post.author.id})) }} on {{ post.createdAt.format('d-M-Y') }}</h3>
		<div>
			{{ post.content|html|nl2br }}
		</div>
	</article>

	<p>{{ link('Back', path('posts')) }}</p>
{% endblock %}